*{
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(15, 15, 15);
}

.parte1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parte1 img {
    width: 60vh;
    max-width: 600px;
    margin-bottom: 50px;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    height: 200px;
    margin-bottom: 20px;
}



.container-input span {
    align-self: flex-start;
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}
#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #00ff00, #008000); 
    border-radius: 10px; 
    border: 2px solid #004d00; 
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #004d00;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #004d00;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#slider::-webkit-slider-thumb:hover {
    background-color: #f0f0f0;
}

#slider::-moz-range-thumb:hover {
    background-color: #f0f0f0;
}

.container-input button {
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    width: 100%;
    background-color: green;
    border-radius: 5px;
    height: 40px;
    animation: 3s ;
    transition: 0.2s;
}

.container-input button:hover{
    background-color: #004d00;
}

.container-input button:active{
    transform: translateY(3px);
}

.options {
    margin-bottom: 30px;
    border-radius:10px;
    border: 1px solid white;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #1d1c1c;
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox']{
      --active: #13b413;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }
  }



.container-password {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    animation: entrar 0.5s ease-in-out forwards;
}

.container-password .title {
    font-size: 20px;
    padding: 20px;
    color: white;
}

.container-password img {
    width: 50px;
    background-color: #008000;
    border-radius: 50%;
    margin-top: 75px;
    position: absolute;
    opacity: 0;
}

@keyframes entrar {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.container-password .password {
    font-size: 1.5vw;  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;  
    max-width: 600px;  
    padding: 20px;  
    color: white;
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    z-index: 1;
}

.hidden {
    display: none;
}

.container-password .password:hover {
    transform: translateY(-3px)
}

.tooltip {
    color: white;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.container-password:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.copiar-animacao {
    animation: copiar 0.3s ease-in-out forwards;
}

.checked-animacao {
    animation: checado 0.5s ease-out forwards;
}

@keyframes checado {
    0% {
        opacity: 0; 
        transform: scale(0); 
    }
    50% {
        opacity: 1; 
        transform: scale(1.2); 
    }
    100% {
        opacity: 1; 
        transform: scale(1); 
    }
}


@keyframes copiar {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.info {
    color: white;
}

.parte2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    width: 100vh;
    margin-bottom:40px ;
}

.info h1, p, h3{
    margin-bottom: 20px ;
}



footer {
    background-color: #121212; 
    color: white; 
    padding: 10px 0; 
    bottom: 0; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    z-index: 10; 
}

footer a {
    color: white; 
    margin-left: 10px; 
}

footer img {
    cursor: pointer;
    width: 15px; 
    height: 15px;
}

.logos {
    margin-bottom: 10px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}


@media (max-width:800px){
    .parte1{
        height: 100vh;
    }
    .parte1 img {
        width: 90%;
    }

    .container-input {
        width: 80%;
    }
    .container-input span {
        font-size: 20px;
    }
    .options {
        font-size: 2vh;
    }

    .container-password {
        width: 90%;
    }

    .container-password .password {
        font-size: 2.6vh;
        width: 90%;
    }

    .tooltip {
        visibility: visible;
        opacity: 1;
    }
  
    .container-password img {
        width: 40px;
    }

    .info {
        width: 46vh;
    }
    .info h1 {
        font-size: 4vh;
    }

    footer p {
        font-size: 1.5vh;
    }
}